
.header {
    background: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5%;
    .logocontenedor{
        background-color: #a4168a;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        h1{
            color: $color ;
            font-size: 6rem;
            font-family: playball,cursive;
            text-decoration: none;
            text-align: center;
        }
        img{
            text-align: center;
            height: 150px;
            width: 150px;
            border-radius: 25%;
            padding: 10px;
            &:hover{
                border: $color 5px solid;
            }
        }
    }
    
    nav{
        margin-top: 3rem;
        background-color: #a4168a;  
        opacity: 4;
        border-radius: 5%;
        li {
            border-radius: 5%;
            opacity: 3;
            &:hover{
                background-color: darksalmon;
                opacity: 1;
            } 
        }
        a{
            text-decoration: none;
            font-size: 2.5rem;
            color: #000;

        }
    }
   
}   
    